:host {
  padding-block: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

small {
  flex-shrink: 0;
  width: 280px;
  color: var(--color-text-sub)
}

img {
  max-width: 80px;
}
