:host {
  width: 100%;
  padding-block: 8px;
  display: flex;
  align-items: center;
}

h1.site-title {
  margin: 0;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 45%;
    left: -4%;
    width: 110%;
    height: 30%;
    z-index: -1;
    background-color: var(--color-main);
  }

  & a {
    text-decoration: none;
    color: black;
  }
}

nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;

  & a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;

    & img {
      width: 32px;
      height: 32px;

      &.github-mark {
        margin-left: 8px;
      }

      &.x-logo {
        width: 24px;
        padding-block: 4px;
      }
    }
  }
}