:host {
  width: 100%;
  padding-block: 8px;
  display: flex;
  align-items: center;
}

h1.site-title {
  margin: 0 -4px;
  padding-inline: 4px;
  position: relative;
  background: linear-gradient(transparent 50%, var(--color-main) 50%, var(--color-main) 80%, transparent 80%);

  & a {
    text-decoration: none;
    color: black;
  }
}

nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;

  & a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;

    & img {
      width: 32px;
      height: 32px;

      &.github-mark {
        margin-left: 8px;
      }

      &.x-logo {
        width: 24px;
        padding-block: 4px;
      }
    }
  }
}
