/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Noto Sans JP';
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--color-background);
}

html {
  /* gen in https://venngage.com/tools/accessible-color-palette-generator */
  --color-main: #b4e9ff;
  --color-sub: #dee7a2;
  --color-text: #020202;
  --color-text-sub: #444;
  --color-link: #92ded5;
  --color-focused: #ffceb3;
  --color-background: #fafafa;
}

body {
  width: 100%;
  height: 100%;
  padding-inline: 16px;
  margin: 0;
  color: var(--color-text);
  overflow-y: scroll;
}

app-root {
  display: block;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
}

a {
  position: relative;
  text-decoration: none;
  color: black;
  z-index: 1;

  &:not(.non-underline)::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-bottom: 5px solid var(--color-link);
    z-index: -1;
    position: absolute;
    bottom: 5px;
  }

  &:not(.non-underline):hover:before {
    border-color: var(--color-focused);
  }
}
