/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-marker {
    @apply inline bg-marker-link text-text no-underline transition-all duration-200;
    &:hover {
      @apply bg-marker-focused;
    }
  }

  .container-base {
    @apply mx-auto min-h-full min-w-80 max-w-4xl p-2;
  }
}

* {
  font-family: 'Noto Sans JP', serif;
  box-sizing: border-box;
}

:root {
  /* gen in https://venngage.com/tools/accessible-color-palette-generator */
  --color-main: #b4e9ff;
  --color-sub: #dee7a2;
  --color-text: #020202;
  --color-text-sub: #444;
  --color-link: #92ded5;
  --color-focused: #ffceb3;
  --color-background: #fafafa;
}

html {
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  @apply h-full w-full bg-background text-text;
}

body {
  @apply mx-auto min-h-svh min-w-80 max-w-4xl p-2;
}

.analog-markdown {
  @apply h-full;

  & * {
    @apply my-4;
  }
  & *:first-child {
    @apply mt-0;
  }

  & h2 {
    @apply mt-8 inline w-fit bg-marker-sub px-2 text-2xl font-semibold;
  }
  & h3 {
    @apply mt-8 inline w-fit bg-marker-sub px-2 text-xl font-semibold;
  }
  & h4 {
    @apply mt-8 inline w-fit px-2 text-lg font-semibold;
  }

  & p {
    text-align: left;
  }
  & code {
    @apply mx-1 rounded-sm bg-text p-[2px] text-background;
  }
  & pre {
    @apply max-w-full overflow-x-auto rounded-lg p-4;
    & code {
      @apply m-0 bg-inherit p-0 text-inherit;
    }
  }

  & a {
    font-weight: bold;
    background-image: linear-gradient(
      transparent 50%,
      var(--color-link) 50%,
      var(--color-link) 80%,
      transparent 80%
    );

    &:hover {
      background-image: linear-gradient(
        transparent 50%,
        var(--color-focused) 50%,
        var(--color-focused) 80%,
        transparent 80%
      );
    }
  }
}
